# Testing Foo on the Bar platform

Rerorting sad lkjdsalf kjsa lkfjdsalf jdsa 
dsalfa lkfjdsalf jsa jdsal jldsasalddsa fdsa
lkjfds lkdsajf lkdsa fdsa 

Foo is so bar. Foo is so bar. Foo is so bar. 
Foo is so bar. Foo is so bar. Foo is so bar. 

	$ sudo foo --bar "xyzzy"

Foo is so bar. Foo is so bar. Foo is so bar. 
Foo is so bar. Foo is so bar. Foo is so bar. 

	base:
	  '*':
	    - foo
	    - bar

Foo is so bar. Foo is so bar. Foo is so bar. 
Foo is so bar. Foo is so bar. Foo is so bar. 

Foo is so bar. Foo is so bar. Foo is so bar. 
Foo is so bar. Foo is so bar. Foo is so bar. 

